*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    height: 100vh;
    background-image: url(./img/home-page-oz.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction:column;


}
header{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 165px;   
}

header a{
    color: rgba(153, 215, 166, 76%);;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    border-bottom: 4px solid transparent;
}

header a:hover{
    border-bottom: 4px solid rgba(153, 215, 166, 76%);

}

header .logo-oz-amarelo:hover{
    border-bottom: 1px solid transparent;
}

main{
    flex-grow: 1;
    display:flex;
}

.filme-container{
    width: 405px;
    height: 455px;
    display: flex;
    flex-direction: column;
    
}

.descricao{
    width: 50px;
    height: 50PX;
    flex-grow: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
}


.descricao P{
    width: 720px;
    font-weight: 500;
    font-family: 'Rozha One', serif;;
    font-size: 3rem;
    color: #EDE74E;
}
.descricao p{
    align-items: center;
}

.trailers{
    height: 700px;
    width: 648px;
    align-items: end;
    display: flex;
    position: relative;
    right: 1128px;
    gap: 60px;

}

.trailers a{
    justify-content: center;
    display: flex;
    

}

.social-container {
    height: 624px;
    width: 85px;
    color:#EDE74E;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 38px;

}