*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    height: 100vh;
    background-image: url(./img/home-page-oz.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction:column;


}
header{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 165px;   
}

header a{
    color: rgb(153, 215,166);
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    border-bottom: 4px solid transparent;
}

header a:hover{
    border-bottom: 4px solid rgb(153, 215,166);

}

header .logo-oz-amarelo:hover{
    border-bottom: 1px solid transparent;
}

main{
    flex-grow: 1;
    display:flex;
}

.filme-container{
    flex-grow: -2;
    display: flex;
    flex-direction: column;
}

.descricao{
    width: 50px;
    height: 50PX;
    flex-grow: 1;
    display: flex;
    justify-content: left;
    text-align: center;
}


.descricao P{
    width: 720px;
    font-weight: 500;
    font-family: 'Rozha One', serif;;
    font-size: 3rem;
    color: #EDE74E;
}
.descricao p{
    align-items: center;
}

.trailers{

    height: 700px;
    align-items: end;
    display: flex;
    gap: 60px;

}

.trailers a{
    background-color: #22fffe;
    justify-content: center;
    display: flex;
    

}

.social-container i:hover{
    color: #22fffe;
}